*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  height: 100vh;
  padding-top: 40px; 
  background-color: rgb(191, 239, 251);
  
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  width : 1170px;
  margin: auto;
  display:flex;
  gap: 10px;

}

form input {
  flex-basis: 80%;
  justify-content: flex-start;

}

 
form button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 12px 14px;
  border-radius: 6px;
  width: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}

.rgb-input{
  border-radius: 2px;
  padding: 5px;
border-color: rgb(5, 6, 45);

}

h1{
  color: rgb(5, 6, 45);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 2px 1px rgb(85, 19, 85);
}

.outerDiv{
  width: 1085px;
  margin: auto;
  

}

.outerDiv ul{
  margin: 10px;
  padding: 0px;
  list-style: none;
}

.outerDiv ul li{
  padding : 12px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  background-color: rgb(6, 0, 42);
  display: flex;
  font-size: 18px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  border-radius: 5px;
  background-image: linear-gradient(144deg, #af40ff, #3a1cff 50%, #00ddeb);
  
}
ul li span {
  cursor: pointer;
  font-weight: bold;
  padding: 0 8px;
}

.completeToDo {
  text-decoration: line-through;
  color: red;
}

@media (max-width: 480px) {
  .input-group {
    flex-direction: column;
  }
.add-btn {
    width: 100%;
  }
   .todo-item {
    flex-direction: column;
    align-items: flex-start;
  }
}